@page "/"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Dominio
@using UserInterface.Components.Shared
@inject ItemMemoryRepo ItemMemoryRepo
@inject IDialogService DialogService

<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudText Typo="Typo.h2" Align="Align.Center">Nuevo Recibo</MudText>
<MudContainer MaxWidth="MaxWidth.Small">
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Titulo" HelperText="Max. 50 characters"
                              @bind-Value="model.Titulo" For="@(() => model.Titulo)"/>
                <MudTextField Label="Autor" HelperText="Iniciales" Class="mt-3"
                              @bind-Value="model.Autor" For="@(() => model.Autor)"/>
                <MudTextField Label="Detalle" HelperText="Opcional" Class="mt-3"
                              @bind-Value="model.Detalle" For="@(() => model.Detalle)" />
            </MudCardContent>
        </MudCard>
        <MudDivider DividerType="DividerType.Middle" Class="my-8"/>
        <MudText Typo="Typo.h5" Align="Align.Center">Elementos</MudText>
        
        <MudSimpleTable Dense="false" FixedHeader="true" Style="@(true?"height:200px;":"")" Striped="true">
            <thead>
                <tr>
                    @foreach (var h in headings)
                    {
                        <th>@h</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in rows)
                {
                    <tr>
                        @foreach (var x in row.Split(","))
                        {
                            <td>@x</td>
                        }
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" Class="ml-auto"  @onclick="OpenDialogAsync">Agregar Item</MudButton>
        
        <MudDivider DividerType="DividerType.Middle" Class="my-5"/>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" Size="Size.Medium" FullWidth="true">Crear</MudButton>
            </MudCardActions>
    </EditForm>
</MudContainer>







@code {
    
    List<Item> items;
    Form model = new Form();
    bool success;

    string[] headings = { "Cantidad" ,"Descripcion", "Identificador" };
    string[] rows = 
    {
         "1,Pc completa con teclado y mouse,BRT5434HGDFG333344",
         "2,Tetra marca Sepoura con clip de enganche,Abc122SSSD113EC",
         "14,Elemento 3,Abc123333",
         "1,Elemento 4,Abc122233",
         
        
    };
    
    
    int cantidad = 0;
    string descripcion = "";
    string identificador = "";
    
    protected override void OnInitialized()
    {
        items = ItemMemoryRepo.listItems();
    }

    public class Form
    {
        [Required]
        [StringLength(50)]
        public string Titulo { get; set; }

        [Required]
        [StringLength(2)]
        public string Autor { get; set; }

        
        public string Detalle { get; set; }
        
    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }
    
    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<FormDialog>("Simple Dialog", options);
    }
    

}