@page "/"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Dominio
@using QuestPDF.Fluent
@using UserInterface.Components.Shared
@inject ItemRepo ItemRepo
@inject IDialogService DialogService

<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudText Typo="Typo.h2" Align="Align.Center">Nuevo Recibo</MudText>
<MudContainer MaxWidth="MaxWidth.Small">
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Titulo*" HelperText="Max. 50 characters"
                              @bind-Value="model.Titulo" For="@(() => model.Titulo)"/>
                <MudTextField Label="Autor*" HelperText="Iniciales" Class="mt-3"
                              @bind-Value="model.Autor" For="@(() => model.Autor)"/>
                <MudTextField Label="Destinatario*" Class="mt-3"
                              @bind-Value="model.Destinatario" For="@(() => model.Destinatario)"/>
                <div style="height: 30px"></div>
                <MudDatePicker @bind-Date="model.Fecha" Label="Fecha de entrega*"/>
                <MudTextField Label="Detalle" HelperText="Opcional" Class="mt-3"
                              @bind-Value="model.Detalle" For="@(() => model.Detalle)"/>
            </MudCardContent>
        </MudCard>
        <MudDivider DividerType="DividerType.Middle" Class="my-8"/>
        <MudText Typo="Typo.h5" Align="Align.Center">Elementos</MudText>
        <MudSimpleTable Dense="false" FixedHeader="true" Style="@(true ? "height:200px;" : "")" Striped="true" Outlined="true">
            <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var row in items)
            {
                <tr>
                    @foreach (var x in row.ToString().Split(","))
                    {
                        <td>@x</td>
                    }
                </tr>
            }
            </tbody>
        </MudSimpleTable>
        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" Class="ml-auto" @onclick="OpenDialogAsync">Agregar Item</MudButton>

        <MudDivider DividerType="DividerType.Middle" Class="my-1"/>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" Size="Size.Medium" FullWidth="true">Crear</MudButton>
        </MudCardActions>
    </EditForm>
</MudContainer>


@code {
    List<Item> items;
    Form model = new Form();
    bool success;
    Recibo _recibo = new Recibo(null, null);

    string[] headings = { "Cantidad" ,"Descripcion", "Identificador" };
    
    
    
    protected override void OnInitialized()
    {
        items = ItemRepo.listItems();
        model.Fecha = DateTime.Today;
        _recibo.CrearRecibo();
        StateHasChanged();
    }

    public class Form
    {
        [Required]
        [StringLength(50)]
        public string Titulo { get; set; }

        [Required]
        [StringLength(2)]
        public string Autor { get; set; }

        [Required]
        public string Destinatario { get; set; }

        [Required] 
        public DateTime? Fecha { get; set; }
        
        public string Detalle { get; set; }
        
    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }
    
    private async Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<FormDialog>("Agregar Elemento", options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            StateHasChanged();
        }
        
        
    }
    

}